[
  {
    "subcomponent": "cilium",
    "image_reference": "cilium_cilium_129",
    "docker_image": "${CILIUM_IMAGE}"
  },
  {
    "subcomponent": "cilium",
    "image_reference": "cilium_operator_129",
    "docker_image": "${OPERATOR_IMAGE}"
  },
    {
    "subcomponent": "cilium",
    "image_reference": "cilium_cilium_128",
    "docker_image": "${CILIUM_IMAGE}"
  },
  {
    "subcomponent": "cilium",
    "image_reference": "cilium_operator_128",
    "docker_image": "${OPERATOR_IMAGE}"
  },
  {
    "subcomponent": "cilium",
    "image_reference": "cilium_cilium_116",
    "docker_image": "${CILIUM_IMAGE}"
  },
  {
    "subcomponent": "cilium",
    "image_reference": "cilium_operator_116",
    "docker_image": "${OPERATOR_IMAGE}"
  }
]
