[
  {
    "subcomponent": "cilium",
    "image_reference": "lancer_cilium_cilium_129",
    "docker_image": "${CILIUM_IMAGE}"
  },
  {
    "subcomponent": "cilium",
    "image_reference": "lancer_cilium_cilium_129",
    "docker_image": "${OPERATOR_IMAGE}"
  }
]
